In [2]:
import pandas as pd
import numpy as np

In [3]:
edges = pd.DataFrame({'source': [0, 1, 2],
                   'target': [2, 2, 3],
                       'weight': [3, 4, 5],
                       'color': ['red', 'blue', 'blue']})

edges

   source  target  weight color
0       0       2       3   red
1       1       2       4  blue
2       2       3       5  blue

## One hot encoding

In [5]:
pd.get_dummies(edges)

   source  target  weight  color_blue  color_red
0       0       2       3           0          1
1       1       2       4           1          0
2       2       3       5           1          0

In [8]:
pd.get_dummies(edges['color'])

   blue  red
0     0    1
1     1    0
2     1    0

In [11]:
pd.get_dummies(edges[['color']])

   color_blue  color_red
0           0          1
1           1          0
2           1          0